@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This website was built to give lepidopterists, both amature and professionals, a place to catalog their collections, read about what is going on in the community, and communicate with each other.</p>
<br />
<p>We strive to keep this site as a resource for the community to learn from each other and be able to share their passion with each other and the world.</p>
